h1{
    margin-bottom: 30px;
}
p {
    margin-left: 5%;
    display: block;
    width: 40%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

img {
    display: block;
    width: 40%;
    float: right;
    margin-right: 10%;
    border-radius: 5px;
}
 .contingut div{
     background-color: rgb(255,255,255,0.75);
     border-radius: 10px;
     height: 80%;
     margin-bottom: 10%;
     position: relative;
 }
