

p {
    display: block;
    width: 40%;
    float: left;
}

img {
    display: block;
    width: 40%;
    float: right;
    margin-right: 10%;
}
 .contingut div{
     background-color: rgb(255,255,255,0.75);
     border-radius: 10px;
     height: 75%;
     margin-bottom: 10%;
 }
